/*----------------------------------------*/
/*  09. BG CSS START
/*----------------------------------------*/


// BG Shape
.bg-shape {
  background-image: url(../images/bg/gray-shape.png);
  background-size: cover;
  background-position: center;
}
